<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{title:'Admin'})%>
<body>

  <%- include('partials/header')%>

  <li ><a href="/admin/adminProductList/"> Productos</a></li>
  <li><a href="#"> usuarios</a></li>
  <li><a href="#">Categorias</a></li>


</body>
</html>  