<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">

</head>

<body>
  <header>
    <img src="" alt="logo" class="logo">
    <nav>
        <ul class="navLinks">
            <li class="link"><a href="">Productos</a></li>
            <li class="link"><a href="">Carrito</a></li>
            <li class="link"><a href="">Nosotros</a></li>
            <li class="link"><a href="">Contacto</a></li>
        </ul>
    </nav>
    <a href=""><i class="fas fa-user-alt fa-2x" style="color: aliceblue;"></i></a>
    
</header>
 <section class = "cajaCarrito">
    
   <h1 class = "titulo"> Carrito </h1>
    <div class = "X1">
       <input id="button" type="button" value="X">
     </div>
     <div class = "div1">
       <p> Bicicleta uno</p> 
       <p> cantidad: 1</p>
       <p> $56.000 </p>
     </div>
     
      <br/> 
      <div class = "X2">
        <input id="button" type="button" value="X">
    </div>
     <div class = "div2">
        <p> Bicicleta dos</p> 
        <p> cantidad: 1</p>  
        <p> $61.000 </p>
    </div>
    
    <br/> 
    <div class = "X3">
        <input id="button" type="button" value="X">
    </div>
    <div class = "div3"> 
        <p> Bicicleta tres</p> 
        <p> cantidad: 1</p>
        <p> $49.000 </p>
    </div>
    <input type = "submit" value = "comprar" class= "boton">  </input>
    <br/>
 </section> 
 <footer>
  <div class="footer">
    <div class="datafooter">
    <h2 id="contactanos">Nosotros</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nisi cumque dolores. Explicabo, rem. Fugiat delectus eveniet harum quas in repellendus. Expedita sunt architecto illum cum consequatur nemo voluptatibus hic?</p>
    </div>
    <div class="datafooter">
     <h2 id="contactanos" >Contactanos</h2>
     <div class="Redes">
      <div>
     <i class="fab fa-facebook fa-4x"></i>
    </div>
    <div>
     <i class="fab fa-instagram fa-4x"></i>
     </div>
     <div>
     <i class="fab fa-whatsapp fa-4x"></i>
    </div>
    </div>
  </div>
  </div>
</footer>

</body>
</html>