<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

<body>
  <%- include('partials/header')%>
 <div class="containerVista">
  <div class = "cajaCarrito">
  
    <div>
      <h1 class = "tituloCarrito"> Carrito </h1>
      </div>
  
   <div class="containerProducto">
     <div class = "primerProducto">
       <p> Bicicleta uno</p><p> cantidad: 1</p><p> $56.000 </p>
        </div>
     <div class = "eliminarProducto">
      <input id="button" type="button" value="X">
    </div>
  </div>
    <div class="botoncomprarcarrito">
    <input type = "submit" value = "Comprar" class= "boton">  </input>
    </div>
</div>
</div>


 

 <%- include('partials/footer')%>
</body>
</html>