<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>

<body>
    <header>

    </header>
 <section class = "cajaCarrito">
    
   <h1 class = "titulo"> Carrito </h1>
    <div class = "X1">
       <input id="button" type="button" value="X">
     </div>
     <div class = "div1">
       <p> Bicicleta uno</p> 
       <p> cantidad: 1</p>
       <p> $56.000 </p>
     </div>
     
      <br/> 
      <div class = "X2">
        <input id="button" type="button" value="X">
    </div>
     <div class = "div2">
        <p> Bicicleta dos</p> 
        <p> cantidad: 1</p>  
        <p> $61.000 </p>
    </div>
    
    <br/> 
    <div class = "X3">
        <input id="button" type="button" value="X">
    </div>
    <div class = "div3"> 
        <p> Bicicleta tres</p> 
        <p> cantidad: 1</p>
        <p> $49.000 </p>
    </div>
    <input type = "submit" value = "comprar" class= "boton">  </input>
    <br/>
 </section> 


</body>
</html>