

<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title:'Contacto'})%>

    <%- include('partials/header')%>


    <div class="tituloNosotros">
        <h1 > Donde nos podes encontrar? </h1>
        </div>
        <div class="textoNosotros">
        <h2> Estamos en todas las plataformas digitales</h2>
          </div>

          <div class="Redescontacto">
            <div>
           <a href=""><i class="fab fa-facebook fa-4x"></a></i>
          </div>
          <div>
            <a href=""><i class="fab fa-instagram fa-4x"></a></i>
           </div>
           <div>
            <a href=""><i class="fab fa-whatsapp fa-4x"></a></i>
          </div>

    <%- include('partials/footer')%>