<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
  
  <div class="Buscador">
      <form class="ContainerBuscador">
    <input class="busqueda" type="search" name="Buscador" placeholder="Buscar">
</form>
  </div>

  <main>
<div>
<h2 style="margin-top: 30px;">Modelo de la Bicicleta</h2>
<div class="DetalleProducto">
    <div class="descripcion">
<p class="textodescripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea blanditiis eius dolorum at nesciunt itaque. 
    Voluptatibus dolorum ullam, remque ut facere voluptas dicta? Nam a facilis deleniti? Odit, 
    quia fuga.</p>
    <div class="containerPrecio">
    <a class="precio">50000$</a>
</div>
    <form action="" class="cantidad">
        <input type="number" name="cantidad" placeholder="Cantidad" class="cantidad">
    </form>
    
   </div>
    <div class="containerAgregar">
        <button class="agregar">
            <a>Agregar</a>
        </button>
    </div>
    <div class="descripcion">
    <img class="fotodescripcion" src="../public/modeloblack1.jpg" alt="modeloBicicleta">
    </div>
</div>

</div>
</main>
<%- include('partials/footer')%>
  </body>
  </html>