
<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{title:'Home'})%>
<body>

  <%- include('partials/header')%>
  
  
  <main>
<div class="fotomain">
<img class="PrimerImagen" src="images/bicicleta1.jpg" alt="imgbicicleta">
</div>

<section class="Carrousel">
<div>
<h2 class="tituloProducto">Productos</h2>
</div>

<div class="Productos">
  <div class="ProductosCarrousel">
    
  </div>
  <div class="ProductosCarrousel">
    
  </div>
  <div class="ProductosCarrousel">
   
  </div>
</div>

</section>

<section>

  <div>
    <h2 class="titulocombos">Combos</h2>
    </div>
    
    <div class="Combos">
      <div class="ProductosCombo">
       
      </div>
      <div class="ProductosCombo">
       
      </div>
    </div>


</section>
</main>
<%- include('partials/footer')%>
  

</body>
</html>