
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
  <header>
      <img src="" alt="logo" class="logo">
      <nav>
          <ul class="navLinks">
              <li class="link"><a href="">Productos</a></li>
              <li class="link"><a href="">Carrito</a></li>
              <li class="link"><a href="">Nosotros</a></li>
              <li class="link"><a href="">Contacto</a></li>
          </ul>
      </nav>
      <a href=""><i class="fas fa-user-alt fa-2x" style="color: aliceblue;"></i></a>
      
  </header>
  
  <div class="Buscador">
      <form class="ContainerBuscador">
    <input class="busqueda" type="search" name="Buscador" placeholder="Buscar">
</form>
  </div>
  <main>
<div class="fotomain">
<img class="PrimerImagen" src="/img/bicicleta1.jpg" alt="imgbicicleta">
</div>

<section class="Carrousel">
<div>
<h2>Productos</h2>
</div>

<div class="Productos">
  <div class="ProductosCarrousel">
    
  </div>
  <div class="ProductosCarrousel">
    
  </div>
  <div class="ProductosCarrousel">
   
  </div>
</div>

</section>

<section>

  <div>
    <h2 class="titulocombos">Combos</h2>
    </div>
    
    <div class="Combos">
      <div class="ProductosCombo">
       
      </div>
      <div class="ProductosCombo">
       
      </div>
    </div>


</section>
</main>
<footer>
  <div class="footer">
    <div class="datafooter">
    <h2 id="contactanos">Nosotros</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nisi cumque dolores. Explicabo, rem. Fugiat delectus eveniet harum quas in repellendus. Expedita sunt architecto illum cum consequatur nemo voluptatibus hic?</p>
    </div>
    <div class="datafooter">
     <h2 id="contactanos" >Contactanos</h2>
     <div class="Redes">
      <div>
     <i class="fab fa-facebook fa-4x"></i>
    </div>
    <div>
     <i class="fab fa-instagram fa-4x"></i>
     </div>
     <div>
     <i class="fab fa-whatsapp fa-4x"></i>
    </div>
    </div>
  </div>
  </div>
</footer>
</body>
</html>