<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
<body>
  <%- include('partials/header')%>
  <main>
  <div class="central">
  <div class="login-containter">
  <div class="login-div">
    <div class="login-text">
      <h2 class="tituloDatos"> Ingresa tus Datos </h2>
   </div>
    <form class="login-form">
       <input class="login-mail" type="mail" name="mail" placeholder="">
       <input class="login-password" type="password" name="password">
       <input class="login-button" type="button"  value="Ingresar" name="Ingresar">
     </form>

  <div class="login-olvide-clave">

    <a href="#" >Olvide Mi Clave</a>
  </div>
  
  </div>
     
</div> 
</div>
</main>

<%- include('partials/footer')%>

</body>
</html>