<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{title:'Login'})%>
<body>
  <%- include('partials/header')%>
  <main>
    <% if (typeof errors != "undefined") { %>
						
      <% errors.forEach(error => { %>
    
      <p><%= error.msg %> </p>
    
      <% }) %>
    
      <% } %>
  <div class="central">
  <div class="login-containter">
  <div class="login-div">
    <div class="login-text">
      <h2 class="tituloDatos"> Ingresa tus Datos </h2>
   </div>
    <form action='login' class="login-form" method="POST">
       <input class="login-mail" type="mail" name="mail" placeholder="">
       <input class="login-password" type="password" name="password">
       <input class="login-button" type="submit"  value="Ingresar" name="Ingresar">
     </form>

  <div class="login-olvide-clave">

    <a href="#" >Olvide Mi Clave</a>
  </div>
  <div class="login-olvide-clave">

    <a href="register" >Registrarme</a>
  </div>
  
  </div>
     
</div> 
</div>
</main>

<%- include('partials/footer')%>

</body>
</html>