<!DOCTYPE html>
<html lang="en">
    
<%- include('partials/head', {title:'Nosotros'})%>

<%- include('partials/header')%>
<div class="tituloNosotros">
<h1 > Somos Rodar </h1>
</div>
<div class="textoNosotros">
<h2 > Un sitio que ofrece Productos y Servicios vinculados a la bicicleteria, tenemos diversas tipologias, sean estas De Paseo, Montaña, Deportivas y cada uno de sus subtipos Tambien, ponemos a disposicion piezas de las mismas y gadgets. 
    Ofrecemos packs para cada motivo ( montaña, urbano, competencia). Servicios Asesoria para preparación bicicletas. 
    Mantenimientos Preventivos Mantenimientos Correctivos Lavado y engrase.
    Asi como tambien tenemos Guias, Informes, Novedades, Eventos y Recomendaciones para que puedas tener la mejor experiencia a la hora de comprar tu nueva bicicleta. </h2>
  </div>


<%- include('partials/footer')%>