
  hola estos son todos los productos del json

  <%for (product of allProducts){%>
    <a href="productos/<%= product.id%>/detail">
      
    <%= product.marca %> <br>
    </a>
     
   

  <%};%>

  <a herf=#>Crear Producto</a>

  