<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=x, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/public/css/styles.css">
 </head>
<body> 
    <header>
       
    </header>
   

    <div class = "caja"> 
    
        <h1 class = "titulo"> Crea tu cuenta aquí </h1>
        <form action = "login.html" method = "get">
            <label for = "email"> Correo electrónico </label></br>
            <input type = "email" name = "email" id = "email" placeholder = "Juansagasta@gmail.com" ></input> </br>
            <label for = "telefono"> Telefono </label></br>
            <input type = "tel" name = "telefono" id = "telefono" placeholder = "15 4811 1523"></input> </br>
            <label for = "nombre"> Nombre </label></br>
            <input type = "text" name = "nombre" id = "nombre" placeholder = "Juan sagasta"></input> </br>
            <label for = "contraseña"> Contraseña </label></br>
            <input type = "password" name = "contraseña" id = "contraseña" placeholder = "123456"></input> </br>
            <br/>
            <input type = "submit" value = "crear cuenta" class = "boton" ></input></br>
            
        </form>
    </div>
    <footer>

    </footer>
</body>
</html>