!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', { title: userLog.email }) %>

<body>
  
  
            <h2><%= userLog.email %></h2> <br>
            <img src="/images/users/<%= userLog.avatar %> " alt="">
              

  
</body>

</html>