*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}
header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 10%;
        background-color: black;
        height: 100px;
        margin-top: 5px;
        
}

.navLinks li {

    display: inline-block;
    padding: 0px 20px;
}

li, a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 18px;
    

}
/*
-------------------------------------------
index

*/

.navLinks {

    list-style: none;

}

body{
    background-color: white;}

.Buscador {

    background: rgb(20, 20, 20);
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.busqueda{

    width: 500px;

}

.fotomain{
    width: 100%;
    height: 800px;
    background-color: white;

    
}

.PrimerImagen {

        margin: 3px;
        padding:8px;
        width: 100%;
        height:100%;
        
}
.Carrousel{

    background: white;
    height: 400px;
    width: 100%;
    
}
.tituloProducto {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 35px;
}
.productos{
    
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.ProductosCarrousel {
        width: 32%;
        height:300px;
        border: 1px solid black;
       display: inline-block; 
       justify-content: center;
    margin-left: 12px;
    margin-top: 15px;

}

.Combos {

    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.ProductosCombo{

width: 48%;
height:300px;
border: 1px solid black;
display: inline-block; 
justify-content: center;
margin: 12px;
margin-top: 25px;
}

.titulocombos {

    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 35px;
}

.footer {

    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 30px;
    background: rgb(20, 20, 20);
}

.datafooter{

width: 30%;
height:200px;
display: inline-block; 
margin-top: 30px;
color: white;


}

#contactanos {
margin-top: 15px;
font-size: 30px;
color: white;
}

p {
margin: 10px;
}

.Redes {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

}
/*
-----------------------------
detail
*/

.DetalleProducto {

 display: flex;
 flex-wrap: wrap;
 align-items: center;

}

.descripcion {

   width: 40%;
   height: 450px;
   margin-left: 40px;
   margin-top: 30px;
   
}

.fotodescripcion {

    height: 450px;
    margin-left: 60px;

}

.textodescripcion {
    margin-top: 30px;
    padding: 0px 20px;
    margin-bottom: 100px;;
   
}
.cantidad{
    margin-left: 15px;
    margin-top: 10px;
}

.precio{
    color: black;
    font-size: 28px;
    margin-left: 30px;
    
}
.containerPrecio{
    margin-top:40px ;

}

.containerAgregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 45px;

}

.agregar {

    background: black;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 30px;
}

/*


------------------------
Registro 
*/


body{
    background-color:#F2F2F2;
    padding: 15px 30px 15px 30px;
}
.caja{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    font-family: sans-serif;
    justify-content: center;
    margin: 5px 10px 5px 10px;
    box-sizing: border-box;


}

.titulo{
    text-align: center;
}

br{
    background-color: grey;
    width: 5px;
    height: 5px;
}






.boton{
    width: 80px;
    flex-direction: column;
    
    
}

/*


-----------------------------
carrito
*/


.tituloDatos {
display: flex;
justify-content: center;
color: black;
font-size: 30px;
margin-bottom: 2%;
}




.containerVista {

display: flex;
flex-wrap: wrap;
flex-direction: row;
padding: 10px 10px 10px 10px;
margin-top: 5px;



}
.cajaCarrito{
    background-color: #F2F2F2;
    font-family: helvetica;
    top: 30%;
    left: 10%;
    right: 10%;
    padding-top: 2%;
    width: 100%;
    height: 500px;

   }


.containerProducto{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2%;


 
}

.primerProducto{
    margin: 0 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.tituloCarrito{
    font-family: helvetica;
    font-size: 30px;
    justify-content: center;
    margin-left: 44%;




}
.eliminarProducto{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80%;
    padding: 1%;
    align-self: center;
  
}

.botoncomprarcarrito {

justify-content: center;
margin-left: 45%;
margin-top: 225px;
width: 30px;
}




/*
-----------------------------
login
*/

.central{
background-color:white;
   

}
.login-containter{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 10%;
   

}

.login-div{
    
    flex-wrap: wrap;
    background-color:gray;
    padding: 3%;

}
.login-text{
  font-family: Helvetica;

}

.login-form{
    flex-wrap: wrap;
    margin-left: 30%;
    

}
.login-olvide-clave{
    flex-wrap: wrap;
    margin-left: 35%;
    margin-top: 2%;
    align-content: space-around;

    
}
/*
----------------------------------
Nosotros
*/

.tituloNosotros {
    margin-top: 15px;
    margin-bottom: 30px;
}
.textoNosotros {
    height: 500px;
}
/*
---------------------------------------------

*/


@media (min-width: 768px){
    .caja{
        font-size: 20px;
        position: absolute;
        top: 15%;
        left: 20%;
        right: 20%;
    }
    input{
        width:60%;
        height: 20px;
    }
    .titulo{
        font-size: 30px;
    }
}

@media (min-width: 1024px){
    .caja{
        font-size: 25px;
        position: absolute;
        top: 10%;
        left: 15%;
        right: 15%;
        
    }
    input{
        width:55%;
        height: 30px;
        font-size: 15px;
    }

}
@media (min-width: 1440px){
    .caja{
        font-size: 25px;
        position: absolute;
        top: 10%;
        left: 20%;
        right: 20%;
    }
    .boton{
        font-size: 20px;
    }
    input{
        font-size: 20px;
    }
}

@media (min-width:2560px){
    .caja{
        font-size: 25px;
        position: absolute;
        top: 10%;
        left: 20%;
        right: 20%;
        height: 40%;
    }
}
