<footer>
    <div class="footer">
      <div class="datafooter">
      <h2 id="contactanos">Nosotros</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nisi cumque dolores. Explicabo, rem. Fugiat delectus eveniet harum quas in repellendus. Expedita sunt architecto illum cum consequatur nemo voluptatibus hic?</p>
      </div>
      <div class="datafooter">
       <h2 id="contactanos" >Contactanos</h2>
       <div class="Redes">
        <div>
       <a href=""><i class="fab fa-facebook fa-4x"></a></i>
      </div>
      <div>
        <a href=""><i class="fab fa-instagram fa-4x"></a></i>
       </div>
       <div>
        <a href=""><i class="fab fa-whatsapp fa-4x"></a></i>
      </div>
      </div>
    </div>
    </div>
  </footer>