<header>
    <img src="" alt="logo" class="logo">
    <nav>
        <ul class="navLinks">
            <li class="link"><a href="">Productos</a></li>
            <li class="link"><a href="">Carrito</a></li>
            <li class="link"><a href="">Nosotros</a></li>
            <li class="link"><a href="">Contacto</a></li>
        </ul>
    </nav>
    <a href=""><i class="fas fa-user-alt fa-2x" style="color: aliceblue;"></i></a>
    
</header>