<header>

    <img src="" alt="logo" class="logo">
    <%- include('../partials/nav')%>
    <a href="/users/login"><i class="fas fa-user-alt fa-2x" style="color: aliceblue;"></i></a>
    
</header>

<div class="Buscador">
    <form class="ContainerBuscador">
  <input class="busqueda" type="search" name="Buscador" placeholder="Buscar">
</form>
</div>