<header>

  <a href="/"><img src="../images/Logo-rodar.jpg" alt="logo" class="logo" width="120px" height="90px"></a>
    <%- include('../partials/nav')%>
    <a href="/users/login"><i class="fas fa-user-alt " style="color: aliceblue;"></i></a>
    <a href="/carrito"><i class="fas fa-shopping-cart " style="color: aliceblue;"></i></a>
    <% if (userLog) { %>
      <a class="linkuserlog"><a href="#"><%=userLog.email%></a>
     
<% } %>

    
</header>

<div class="Buscador">
    <form class="ContainerBuscador">
  <input class="busqueda" type="search" name="Buscador" placeholder="Buscar">
</form>
</div>